@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

/* FONT IMPORT*/


/* SECTIONS IMPORTS */

:root {
    --red-hat: "Red Hat Text", sans-serif;

    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);

    --rose-900: hsl(14, 65%, 9%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-50: hsl(20, 50%, 98%);

    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
}
/* ROOT */

body {
    font-family: var(--red-hat);
    font-size: 14px;
    line-height: 1.5;
    background-color:var(--rose-50);
}

img {
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 0;
    margin-bottom: 60px;
}

.products__title {
    color: var(--rose-900);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
}

.products__cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    gap: 150px 30px;
}

.products {
    width: 68%;
}

.product__cards-card.card {
    width: 250px;
    height: 250px;
    border: none;
    border-radius: 10px;
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.product__image {
    height: 250px;
    width: 250px;
}

.atc-btn {
    color: var(--rose-900);
    padding: 12px;
    border-radius: 30px;
    border-color: var(--rose-400);
    width: 150px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    background-color: var(--white);
    position: absolute;
    bottom: -9px;
    left: 50px;
}



/* ATC Active State */

.cart-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.product__details {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:space-between;
    margin-top: 40px;
    gap: 3px;
}

.product__category {
    font-size: 14px;
    color: var(--rose-500);
}

.product__name {
    font-size: 16px;
    font-weight: 700;
    color: var(--rose-900);
}

.product__price {
    font-size: 16px;
    font-weight: 700;
    color: var(--red);
}


/* Cart */

.cart.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 24px;
    width: 384px;
    border: none;
}


.cart__title {
    color: var(--red);
    font-size: 24px;
    font-weight: 700;
}

